// styles/partials/variables.scss
$primary--color: white;
$main-color: #1b2024;
$main-content-color: #002d75;

$light-color: white;
$bg-color: white;

$header-nav-bg: #d9e8fd;
$main-font-family: Arial, sans-serif;

$icon--bg-color: #777777;


$lighter--secondary--color: #303030;
$lighter--primary--color: lighten($primary--color, 10%);
$complementary--color: #0282f9;
